.home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
nav{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 10px 30px ;
  font-size: 30px;
}
.hero{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap:20px;
  padding: 10px 20px ;
}
#tag{
font-size: 2vmax;
}
.logo{
cursor: pointer;
}
.cate{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.upImg,.genImg,.chat{
  padding: 10px 20px ;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}
.upImg svg{
  width: 25px;
  height: 25px;
  color: rgb(7, 240, 11);
}
.genImg svg{
  width: 25px;
  height: 25px;
  color: rgb(7, 236, 240);
}
.chat svg{
  width: 25px;
  height: 25px;
  color: rgb(240, 155, 7);
}
.upImg:hover,.genImg:hover,.chat:hover{
  background-color: rgba(240, 248, 255, 0.108);
}
.input-box{
  width: 100%;
  height: calc( 100vh - 80px - 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
}
#add,#submit{
  width: 60px;
  height: 60px;
  border : 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 50px;
  background-color: rgb(11, 16, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#add svg{
  width: 30px;
  height: 30px;
}
#submit svg {
  width: 25px;
  height: 25px;
}
#genImg{
  color:rgb(7, 236, 240) ;
}
form input{
  max-width: 60%;
  width:calc( 100% - 120px);
  height: 60px;
  background-color: rgb(11, 16, 17);
  border : 2px solid rgba(255, 255, 255, 0.297);
  outline: none;
  border-radius: 30px;
color: white;
padding: 10px 20px;
font-size: 19px;


}

.chat-page{
  width: 100%;
  height: 70%;
display: flex;
align-items: start;
justify-content: start;
flex-direction: column;
gap:20px;
padding: 20px;
overflow-y: auto;

}
.user,.ai{
  width: 90%;
  padding: 20px 30px;
  color: white;
  background-color: rgb(11, 16, 17);
  border : 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 20px;
font-size: 20px;
display: flex;
align-items: start;
gap: 20px;

justify-content: center;
flex-direction: column;
}
.user img{
  max-width: 300px;
  width: 90%;
  border-radius: 20px;
}
.ai img{
  max-width: 300px;
  width: 90%;
  border-radius: 20px;
}

.pop-up{
 
  background-color: rgb(11, 16, 17);
  border : 2px solid rgba(255, 255, 255, 0.175);
  position: absolute;
  bottom:150px;
  left:15%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  padding: 10px;

}
.select-up,.select-gen{
color: white;
width: 100%;
padding: 10px;
display: flex;
align-items: center;
justify-content: start;
gap: 10px;
font-size: 16px;
border-radius: 20px;
cursor: pointer;
}
.select-up:hover,.select-gen:hover{
  background-color: rgba(240, 248, 255, 0.1);
}
.select-up svg{
  color: rgb(7, 240, 11);
  width: 25px;
  height: 25px;
}
.select-gen svg{
  color: rgb(7, 236, 240);
  width: 25px;
  height: 25px;
}
#im{
  height: 100px;
  border-radius: 20px;
  position: absolute;
 bottom: 150px;
  left:15%;
  box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.209);
}
@media (max-width:500px) {
 #tag{
    font-size: 20px;
  }
}